<h1>Site</h1>

<p>
  <strong>Domain name:</strong>
  <%= @site.domain_name %>
</p>
<pre><code>http://localhost:5000/track-entry/<%= @site.account.id %>/<%= @site.id %></code></pre>

<% cache ['entries', @site] do %>
  <h2>Entries</h2>
  <table class="table">
    <tbody>
      <% @site.entries.each do |entry| %>
        <tr>
          <td>
            <%= content_tag(:span, entry.created_at, 'data-js-format-datetime' => true) %>
          </td>
          <td><%= entry.user_agent %></td>
        </tr>
      <% end %>
    </tbody>
  <table>
<% end %>
